*{
  box-sizing: border-box;
}

h1{
  text-align: center;
}

p {
  background-color: #2c0614;
  border: 0px solid black;
  height: 250px;
  margin: 20px;
  padding: 40px 10px 40px 10px;
  overflow: hidden;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  position: relative;
}


*{
  margin: 0;
  padding: 0;
  
}
.navbar{

border: none;
background-color: black;
color: #61122F;
}


body {
  background-color: #61122F;
  color: white;
}
.glyphicon{
  font-size: 30px;
  color:#61122F; 
}

.center{
  width: 90%;
  background-color: grey;

}
.container
{
  background-color: grey;
}
.text-center{
  font-size: 30px;
}

h2{
  text-align: center;
}
#myNavbar ul li a {
  color: #61122F;
}
.navbar-brand{
font-size: 30px;  
}